<header class="sticky col-xs-12 col-sm-12 col-md-12">
  <!--
  <a href="/" class="logo"><img src="../images/imagen3.png"></a>
  -->
 
  <a href="/" class="button"><span class="icon-home"></span>Inicio</a>
  <a href="/qs" class="button"><span class="icon-home"></span>QS</a>
  <a href="/registro" class="button"><span class="icon-user"></span>Contactenos</a>

</header>


