<footer>

  <div class="col-sm-12">
  <div class="card fluid">
      <b><p>PUBLISO</p></b>
      <b><p>Publicidad Validad solo para el municipio de San Andres de Sotavento </p></b>
  </div>
  <div class="card fluid" >
     <b> <p>Publicamos Tu Negocio </p></b>
     <b> <p><img class="icono" src="../images/whatsapp.jpg">Cel: 310 469 51 42</p></b>
     <b> <p><a href="/registro">Dejanos tus Datos</a></p></b>
  </div>
  <div class="card fluid">
      <b><p>Derechos Reservados 2020</p></b>
  </div>
</div>  
</footer>
