<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>PUBLISO</title>
<link rel="stylesheet" href="stylesheets/estilos.css">
<link rel="stylesheet" href="stylesheets/mini-default.min.css">
</head>

<body>
<%- include('./partials/encabezado_publico') %>
<div class="container">
<img src="images/fondo.jpg" width="100%">
<h4>¿Quienes Somos?</h4>
<p class="qs">Somos una empresa de publicidad, que nació para ayudar a todas esas personas y comerciantes que desea publicar su negocio, con el objetivo que sus clientes accedan a la información de forma rápida y poder contactar su negocio con el cliente de forma directa. No somos ningún intermediario, publicamos su información con la respectiva autorización de la empresa/comerciante, 
   <br> <br><b><em>PUBLISO</em></b> "publica tu negocio".  
   <br> <br>Debido a la pandemia y con el ánimo de salir juntos adelante el registro de esta aplicación será totalmente gratuita hasta 30 de agosto.
</p>
    
<div class="card fluid" >
   
</div>
</div>
  


<script src="javascripts/script.js"></script>
</body>
<%- include('./partials/pie') %>
</html>